<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head" th:object="${episode}">
    <meta charSet="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="1 days" />
    <meta name="ROBOTS" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="BingBOT" content="index,follow" />
    <meta name="yahooBOT" content="index,follow" />
    <meta name="slurp" content="index,follow" />
    <meta name="msnbot" content="index,follow" />
    <meta name="csrf-token" content="evbDzMDb0bZJeIlV3nN9ofkXLTkKkw8dzMzGcdaI">
    <meta property="fb:app_id" content="" />
    <link rel="shortcut icon" href="/storage/files/icon/favicon.png" type="image/png" />
    <title>phimmoi|phimmoichilli|Phim mới của phimmoichill|motphim|tvhayvn</title>
    <meta name="description"
          content="phimmoi là web cập nhật phim mới  . Với tiêu chí của phimmoichill, motphim,motchill và tvhayvn 2023.Phimmoichilli là trang phim tổng hợp top các bộ phim mới hấp dẫn nhất 2023, đủ các thể loại phim mới nhất hay nhất">
    <meta name="keywords"
          content="phim moi nét, phimmoi trọn bộ ,phim motchill, motchill phim mới , phim mới , phim moi net,phim mới chill, phimmoichill, Top phim">
    <link rel="canonical" href="https://phimmoichilli.com" />
    <meta property="og:title" content="phimmoi|phimmoichilli|Phim mới của phimmoichill|motphim|tvhayvn" />
    <meta property="og:description"
          content="phimmoi là web cập nhật phim mới  . Với tiêu chí của phimmoichill, motphim,motchill và tvhayvn 2023.Phimmoichilli là trang phim tổng hợp top các bộ phim mới hấp dẫn nhất 2023, đủ các thể loại phim mới nhất hay nhất" />
    <meta property="og:url" content="current" />
    <meta property="og:site_name" content="Phimmoichilli.com" />
    <meta property="og:image" content="/storage/files/icon/motchilly.png" />
    <meta name="twitter:site" content="Phimmoichilli.com" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/assetClient/css/bootstrap.minmod.css" />
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css?v=16661691001.1" />
    <link rel="stylesheet" type="text/css" href="/assetClient/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/assetClient/css/updet.css" />
    <link rel="stylesheet" type="text/css" href="/assetClient/css/responsivemod.css" />
    <link rel="stylesheet" type="text/css" href="/assetClient/css/owl.carouselmod.css" />
    <link rel="stylesheet" type="text/css" href="/assetClient/css/magnific-popup.css">
</head>
<body>
<div th:fragment="sidebar-right">
    <div class="right-content" style="padding-left: 10px;padding-right: 10px;">
        <div class="most-view block" style="margin-top: 10px; margin-bottom: 50px">
            <img src="/assetClient/images/TOP_PHIM_HOT_365.png" style="width:100%">
            <div class="tabs">
                <div data-id="day" class="tab active">Phim sắp chiếu</div>
            </div>
            <div class="clear"></div>
            <ul class="list-film">
                <li class="film-item-ver" th:each="upcoming :${listUpComing}">
                    <a th:href="@{/phim/{name}-{id}(name=${upcoming.movie_slug},id=${upcoming.id})}" th:title="${upcoming.name}">
                        <img class="avatar" th:alt="${upcoming.name}"
                             th:src="${upcoming.thumbUrl}" />
                        <div class="title">
                            <p class="name"
                               style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;"
                               th:text="${upcoming.name}"></p>
                            <p class="real-name"
                               style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;"
                               th:text="${upcoming.originName}"></p>
                        </div>
                    </a>
                    <p class="view" style="color:#aaa;"><i class="fa fa-eye" aria-hidden="true"></i>
                        21 lượt xem</p>
                    <p class="aside_star" data-rating="0.0" style="margin-bottom: 10px;"></p>
                    <span style="font-size: 11px;right: 2px; bottom: 52px;color: #fff;font-size: 11px; padding: 2px 4px 2px;color: #fff;margin-left: 3px;font-weight: 500;color: #fff;
                          background: linear-gradient( 81.43deg , #c11e1b -26.81%, #6f0c0b 87.89%); box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 75%);border: 0px solid #febb00;
                          border-radius: 2px;white-space: nowrap;transition: .7s;text-transform: capitalize;">
                    <i class="fa fa-play-circle" aria-hidden="true"></i><span th:text="${upcoming.movieTrailer + upcoming.movieLang}"></span>
                </span>
                </li>
            </ul>
        </div>
        <div class="most-view block" style="margin-top: 10px; margin-bottom: 50px">
            <img src="/assetClient/images/TOP_PHIM_HOT_365.png" style="width:100%">
            <div class="tabs">
                <div data-id="day" class="tab active">Top phim lẻ</div>
            </div>
            <div class="clear"></div>
            <ul class="list-film">
                <li class="film-item-ver">
                    <a href="https://phimmoichilli.com/phim/avatar-2-dong-chay-cua-nuoc"
                       title="Avatar 2: Dòng Chảy Của Nước">
                        <img class="avatar" alt="Avatar 2: Dòng Chảy Của Nước"
                             src="/storage/images/avatar-2-dong-chay-cua-nuoc/avatar-2-dong-chay-cua-nuoc-thumb.jpg" />
                        <div class="title">
                            <p class="name"
                               style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                                Avatar 2: Dòng Chảy Của Nước</p>
                            <p class="real-name"
                               style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                                Avatar 2 (2022)</p>
                        </div>
                    </a>
                    <p class="view" style="color:#aaa;"><i class="fa fa-eye" aria-hidden="true"></i>
                        785 lượt xem</p>
                    <p class="aside_star" data-rating="10.0" style="margin-bottom: 10px;"></p>
                    <span
                            style="font-size: 11px;right: 2px; bottom: 52px;color: #fff;font-size: 11px;padding: 2px 4px 2px;color: #fff;margin-left: 3px;font-weight: 500;color: #fff;background: linear-gradient( 81.43deg , #c11e1b -26.81%, #6f0c0b 87.89%);box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 75%);border: 0px solid #febb00; border-radius: 2px;white-space: nowrap;transition: .7s;text-transform: capitalize;"><i
                            class="fa fa-play-circle" aria-hidden="true"></i> Full
                                        Vietsub</span>
                </li>
            </ul>
        </div>
        <div class="most-view block" style="margin-top: 10px; margin-bottom: 50px">
            <img src="/assetClient/images/TOP_PHIM_HOT_365.png" style="width:100%">
            <div class="tabs">
                <div data-id="day" class="tab active">Top phim bộ</div>
            </div>
            <div class="clear"></div>
            <ul class="list-film">
                <li class="film-item-ver">
                    <a href="https://phimmoichilli.com/phim/cau-ut-nha-tai-phiet"
                       title="Cậu Út Nhà Tài Phiệt">
                        <img class="avatar" alt="Cậu Út Nhà Tài Phiệt"
                             src="/storage/images/cau-ut-nha-tai-phiet/cau-ut-nha-tai-phiet-thumb.jpg" />
                        <div class="title">
                            <p class="name"
                               style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                                Cậu Út Nhà Tài Phiệt</p>
                            <p class="real-name"
                               style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                                Reborn Rich (2022)</p>
                        </div>
                    </a>
                    <p class="view" style="color:#aaa;"><i class="fa fa-eye" aria-hidden="true"></i>
                        510 lượt xem</p>
                    <p class="aside_star" data-rating="10.0" style="margin-bottom: 10px;"></p>
                    <span
                            style="font-size: 11px;right: 2px; bottom: 52px;color: #fff;font-size: 11px;padding: 2px 4px 2px;color: #fff;margin-left: 3px;font-weight: 500;color: #fff;background: linear-gradient( 81.43deg , #c11e1b -26.81%, #6f0c0b 87.89%);box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 75%);border: 0px solid #febb00; border-radius: 2px;white-space: nowrap;transition: .7s;text-transform: capitalize;"><i
                            class="fa fa-play-circle" aria-hidden="true"></i> Hoàn Tất (16/16)
                                        Vietsub</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:fragment="main-content">
    <div id="content">
        <div class="container ">
            <div class="block-wrapper only-pc">
                <ul id="film-hot" class="film-hot">
                    <li class="film-item " th:each="nomi:${nominates}">
             <span class="current-status" style="text-transform: uppercase;font-weight: 500;">
               <i class="fa fa-play-circle" aria-hidden="true"></i> Hoàn Tất (16/16)
             </span>
                        <a th:href="@{/phim/{name}-{id}(name=${nomi.movie_slug},id=${nomi.id})}" th:title="${nomi.name}">
                            <img th:alt="${nomi.name}"
                                 th:src="${nomi.thumbUrl}" />
                            <div class="title">
                                <div class="post-title">
                                    <span class="label-quality" th:text="${nomi.quality}"></span>
                                    <p class="name" th:text="${nomi.name}"></p>
                                    <p class="real-name" th:text="${nomi.originName}"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container " id="wrapper">
                <div class="left-content" style="padding-left: 10px;padding-right: 10px;">
                    <div style="box-shadow: 0px 3px 20px 2px rgb(18 24 29);">
                        <ul id="top-slide" class="owl-carousel owl-theme" style="opacity: 1; display: block; margin-top: 10px;">
                            <li th:each="nomi:${nominates}">
                                <a th:title="${nomi.name}"
                                   th:href="@{/phim/{name}-{id}(name=${nomi.movie_slug},id=${nomi.id})}">
                                    <div class="title">
                                        <p class="effect-text"
                                           style="text-transform: uppercase!important;color: #fff;font-size: 11px;padding: 2px 4px 2px;color: #fff;margin-left: 3px;font-weight: 500;color: #fff;background: linear-gradient( 81.43deg , #c11e1b -26.81%, #6f0c0b 87.89%);box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 75%);border: 0px solid #febb00; border-radius: 2px;white-space: nowrap;">
                                            <i class="fa fa-play-circle" aria-hidden="true"></i> Hoàn Tất (16/16)
                                            Vietsub HD
                                        </p>
                                        <p class="name" style="text-transform: uppercase!important;" th:text="${nomi.name}"></p>
                                        <p class="real-name">Reborn Rich 2022</p>
                                    </div>
                                    <img th:src="${nomi.thumbUrl}"
                                         th:alt="${nomi.name}">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="block-film">
                        <h2 class="caption">
                            <i class="fa fa-plus-square" aria-hidden="true"></i> <span>Phim bộ mới</span>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <a class="view-all" title="Phim bộ mới" href="/danh-sach/phim-bo">Xem tất cả <i
                                    class="fa fa-angle-double-right"></i>
                            </a>
                        </h2>
                        <ul class="list-film" th:each="series:${listSeriesNew}">
                            <li class="film-item no-margin-right">
                 <span class="current-status" style="text-transform: uppercase;font-weight: 500;">
                   <i class="fa fa-play-circle" aria-hidden="true"></i><span th:text="${series.getCurrentEpisode()}"></span></span>
                                <a th:href="@{/phim/{name}-{id}(name=${series.movie_slug},id=${series.id})}">
                                    <img alt="Huyết Và Tâm"
                                         th:src="${series.getThumbUrl()}" />
                                    <div class="title">
                                        <div class="post-title">
                                            <span class="label-quality" th:text="${series.getQuality()}"></span>
                                            <p class="name" th:text="${series.getName()}"></p>
                                            <p class="real-name" th:text="${series.getOriginName()}"></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="block-film">
                        <h2 class="caption">
                            <i class="fa fa-plus-square" aria-hidden="true"></i> <span>Phim lẻ mới</span>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <a class="view-all" title="Phim lẻ mới" href="/danh-sach/phim-bo">Xem tất cả <i
                                    class="fa fa-angle-double-right"></i>
                            </a>
                        </h2>
                        <ul class="list-film" th:each="single:${listSingleNew}">
                            <li class="film-item no-margin-right">
                  <span class="current-status" style="text-transform: uppercase;font-weight: 500;"><i
                          class="fa fa-play-circle" aria-hidden="true"></i> Full</span>
                                <a th:href="@{/phim/{name}-{id}(name=${single.movie_slug},id=${single.id})}"
                                   th:title="${single.getName()}">
                                    <img th:alt="${single.getName()}"
                                         th:src="${single.getThumbUrl()}" />
                                    <div class="title">
                                        <div class="post-title">
                                            <span class="label-quality" th:text="${single.getQuality()}"></span>
                                            <p class="name" th:text="${single.getName()}"></p>
                                            <p class="real-name" th:text="${single.getOriginName()}"></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="block-film">
                        <h2 class="caption">
                            <i class="fa fa-plus-square" aria-hidden="true"></i> <span>Phim chiếu rạp</span>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <a class="view-all" title="Phim chiếu rạp" href="#">Xem tất cả <i
                                    class="fa fa-angle-double-right"></i>
                            </a>
                        </h2>
                        <ul class="list-film" th:each="cinema:${movieCinemaList}">
                            <li class="film-item no-margin-right">
                  <span class="current-status" style="text-transform: uppercase;font-weight: 500;">
                    <i class="fa fa-play-circle" aria-hidden="true"></i> Full</span>
                                <a th:href="@{/phim/{name}-{id}(name=${cinema.movie_slug},id=${cinema.id})}"
                                   th:title="${cinema.name}">
                                    <img th:alt="${cinema.name}"
                                         th:src="${cinema.thumbUrl}" />
                                    <div class="title">
                                        <div class="post-title">
                                            <span class="label-quality" th:text="${cinema.quality}"></span>
                                            <p class="name"th:text="${cinema.name}"></p>
                                            <p class="real-name" th:text="${cinema.originName}"></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div th:replace="/client/layout :: sidebar-right"></div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="header" id="header" class="mobile-header">
    <div class="btn-humber">
        <i class="fa fa-bars"></i>
    </div>
    <a class="logo" href="/" title="phimmoi|phimmoichilli|Phim mới của phimmoichill|motphim|tvhayvn">
        <img src="https://cdn.codegym.vn/wp-content/uploads/2021/08/CodeGym-Logo.webp" alt="phimmoi">
    </a>
    <i class="fa fa-search btn-search"
       onclick="if (!window.__cfRLUnblockHandlers) return false; $('.mobile-search-bar').removeClass('hide');$('#keyword').focus();"
       data-cf-modified-=""></i>
    <div class="mobile-search-bar hide">
        <form method="GET" action="/" id="form_search">
            <input id="keyword" type="text" name="search" placeholder="Tìm kiếm phim..." value="">
        </form>
        <i class="fa fa-search mobile-search-submit"
           onclick="if (!window.__cfRLUnblockHandlers) return false; $('#form_search_mobile').submit()"
           data-cf-modified-=""></i>
        <i class="fa fa-times close-button"
           onclick="if (!window.__cfRLUnblockHandlers) return false; $('.mobile-search-bar').addClass('hide')"
           data-cf-modified-=""></i>
    </div>
</div>
<div th:fragment="main" id="main-menu" class="mobile-main-menu" style="height: 667px; top: 50px;">
    <div class="container">
        <ul>
            <li>
                <a href="/" title="Trang chủ"><i class="fa fa-film"></i><span>Trang chủ</span>
                </a>
            </li>
            <li>
                <a href="/danh-sach/phim-moi" title="PHIM Mới"><i class="fa fa-film"></i><span>PHIM Mới</span>
                </a>
            </li>
            <li>
                <a href="/danh-sach/phim-bo" title="Phim Bộ"><i class="fa fa-film"></i><span>Phim Bộ</span>
                </a>
            </li>
            <li>
                <a href="/danh-sach/phim-le" title="PHIM LẺ"><i class="fa fa-film"></i><span>PHIM LẺ</span>
                </a>
            </li>
            <li>
                <a href="/danh-sach/phim-chieu-rap" title="Phim Rạp"><i class="fa fa-film"></i><span>Phim Rạp</span>
                </a>
            </li>
            <li>
                <a href="#" title="Thể loại"><i class="fa fa-film"></i><span>Thể loại</span>
                </a>
            </li>
            <li>
                <a href="#" title="Quốc gia"><i class="fa fa-film"></i><span>Quốc gia</span>
                </a>
            </li>
            <li>
                <a href="/the-loai/phim-18" title="Phê 18+"><i class="fa fa-film"></i><span>Phê 18+</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div th:fragment="headerpc" id="header" class="only-pc">
    <div class="container">
        <a class="logo" href="/" title="phimmoi|phimmoichilli|Phim mới của phimmoichill|motphim|tvhayvn">
            <img src="https://cdn.codegym.vn/wp-content/uploads/2021/08/CodeGym-Logo.webp" alt="phimmoi">
        </a>
        <div class="search-container relative">
            <form method="GET" action="/" class="form-search">
                <input id="keyword" type="text" name="search" placeholder="Tìm kiếm phim..." value="" />
                <i class="fa fa-search"
                   onclick="if (!window.__cfRLUnblockHandlers) return false; $(this).parent().submit()"
                   style="cursor:pointer" data-cf-modified-=""></i>
            </form>
        </div>
    </div>
</div>
<div th:fragment="mainpc" id="main-menu" class="desktop">
    <div class="container">
        <ul>
            <li class="menu-home">
                <a href="/" title="Trang chủ">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="/" title="Trang chủ">
                    <i class="fa fa-film"></i><span>Trang chủ</span>
                </a>
            </li>
            <li>
                <a href="/danh-sach/phim-moi" title="PHIM Mới">
                    <i class="fa fa-film"></i><span>PHIM Mới</span>
                </a>
            </li>
            <li>
                <a href="/danh-sach/phim-bo" title="Phim Bộ">
                    <i class="fa fa-film"></i><span>Phim Bộ</span>
                </a>
            </li>
            <li>
                <a href="/danh-sach/phim-le" title="PHIM LẺ">
                    <i class="fa fa-film"></i><span>PHIM LẺ</span>
                </a>
            </li>
            <li>
                <a href="/danh-sach/phim-chieu-rap" title="Phim Rạp">
                    <i class="fa fa-film"></i><span>Phim Rạp</span>
                </a>
            </li>
            <li>
                <a href="#" title="Thể loại">
                    <i class="fa fa-film"></i><span>Thể loại</span>
                </a>
            </li>
            <li>
                <a href="#" title="Quốc gia">
                    <i class="fa fa-film"></i><span>Quốc gia</span>
                </a>
            </li>
            <li>
                <a href="/the-loai/phim-18" title="Phê 18+">
                    <i class="fa fa-film"></i><span>Phê 18+</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>