<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FOOTER</title>
</head>
<body>
<footer th:fragment="footer" class="app-footer d-print-none">
    <div class="text-muted ml-auto mr-auto">
        Handcrafted by <a target="_blank" rel="noopener" href="/cdn-cgi/l/email-protection#5a323b393533743e3f2c1a3d373b333674393537">MOVIE ON</a>.
    </div>
</footer>
</body>
</html>